.callback {
  @include modal;
  display: none;
}

.callback__form {
  @include modal-form;
  padding-top: 56px;
  padding-left: 48px;
  padding-right: 72px;
  padding-bottom: 40px;

  @media (max-width: $mobile-width) {
    padding-top: 168px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 169px;
  }
}

.callback__title {
  @include title;
  font-size: 28px;
  line-height: calc(34 / 28);
  margin-bottom: 16px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.21;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: calc(29 / 24);
    width: 287px;
    text-align: center;

    @include blockToCenter;
    margin-bottom: 16px;
  }
}

.callback__description {
  @include text-reset;
  width: 358px;
  margin-bottom: 32px;

  @media (max-width: $mobile-width) {
    width: 255px;
    text-align: center;
    font-size: 14px;
    line-height: calc(22 / 14);

    @include blockToCenter;
    margin-bottom: 32px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.57;
    }
  }
}

.callback__item {
  margin-bottom: 8px;
}

.callback__input {
  font-family: "Fira Sans", "Tahoma", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(20 / 17);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: rgba($text, 0.5);
  width: 360px;
  height: 59px;
  border: 2px solid $basic-decor;
  // border: 2px solid transparent;
  border-radius: 80px;
  padding: 19px 39px;
  padding-top: 21px;
  position: relative;
  background-clip: padding-box;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.18;
  }

  @media (max-width: $mobile-width) {
    width: 288px;

    @include blockToCenter;
  }
}

// .callback__form input::after:focus {
//   content: "";
//   position: absolute;
//   top: -2px;
//   bottom: -2px;
//   left: -2px;
//   right: -2px;
// 	background: linear-gradient(gold, red);
// 	border-radius: 80px;
//   z-index: -1;
// }

.callback__form input:focus {
  border: 2px solid $accent-decor;
}

.callback__form input:invalid:not(:placeholder-shown) {
  border: 2px solid $error;
}

.callback__form input:valid:not(:placeholder-shown) {
  border: 2px solid $text;
}

.callback__button {
  margin-left: 60px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 264px;
  height: 59px;
  padding: 19px 61px;

  @include button;

  @media (max-width: $mobile-width) {
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}

.callback__checkbox {
  @media (max-width: $mobile-width) {
    @include blockToCenter;
  }
}

.callback__close {
  @include button-close;
}

.callback__checkbox-label {
  font-size: 13px;
  line-height: calc(20 / 13);
  color: rgba($text, 0.74);

  display: block;
  width: 270px;
  margin-left: 60px;

  @media (max-width: $mobile-width) {
    margin-left: 13px;
  }
}

.callback__checkbox-input:checked,
.callback__checkbox-input:not(:checked) {
  position: absolute;
  left: -9999px;
}

.callback__checkbox-input:checked + .callback__checkbox-label,
.callback__checkbox-input:not(:checked) + .callback__checkbox-label {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}

.callback__checkbox-input:checked + .callback__checkbox-label::before,
.callback__checkbox-input:not(:checked) + .callback__checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid $accent-decor;
  border-radius: 2px;
}

.callback__checkbox-input:checked:hover + .callback__checkbox-label::before,
.callback__checkbox-input:not(:checked):hover + .callback__checkbox-label::before {
  border: 2px solid rgba($accent-decor, 0.4);
}

.callback__checkbox-input:checked:active + .callback__checkbox-label,
.callback__checkbox-input:not(:checked):active + .callback__checkbox-label {
  transition: none;
}

.callback__checkbox-input:checked:focus + .callback__checkbox-label::before,
.callback__checkbox-input:not(:checked):focus + .callback__checkbox-label::before {
  border: 1px solid rgba($text, 0.74);
}


.callback__checkbox-input:checked + .callback__checkbox-label::after,
.callback__checkbox-input:not(:checked) + .callback__checkbox-label::after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
  left: 0;
  top: 0;
  width: 20px;
  height: 10px;
  border-radius: 1px;
  border-left: 2px solid rgba($text, 0.74);
  border-bottom: 2px solid rgba($text, 0.74);
  transform: rotate(-45deg);
}

.callback__checkbox-input:not(:checked) + .callback__checkbox-label::after {
  opacity: 0;
}

.callback__checkbox-input:checked + .callback__checkbox-label::after {
  opacity: 1;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.callback--open {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.callback--error {
  animation-name: shake;
  animation-duration: 0.6s;
}
