.copyright {
  @media (max-width: $mobile-width) {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.copyright__inner {
  margin: 0;
  padding-top: 3px;
  padding-left: 29px;
  font-size: 12px;
  line-height: calc(20 / 12);
  letter-spacing: -0.1px;
  color: rgba($black, 0.5);

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.5;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
  }
}

.copyright__inner a {
  color: rgba($black, 0.5);
}

.copyright__inner a:hover,
.copyright__inner a:focus {
  color: $accent-decor-1;
}

.copyright__inner a:active {
  color: rgba($accent-decor-1, 0.5);
}
