.feedback {
  width: 100%;
  min-width: 1024px;
  max-width: 1366px;
  margin: 0 auto;
  margin-bottom: 102px;

  background-image: url("../img/watercolor-bg-feedback-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: 1259px 527px;
  background-position: top 38px right;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/watercolor-bg-feedback-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    min-width: 768px;
    max-width: 1023px;
    padding-left: 30px;
    padding-right: 30px;
    background-image: none;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
    margin-bottom: 70px;
    padding-left: 0;
    padding-right: 0;

    background-image: url("../img/watercolor-bg-feedback-mobile@1x.jpg");
    background-position: top 525px right 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/watercolor-bg-feedback-mobile@2x.jpg");
    }
  }
}

.feedback h2 {
  @include title;
  font-size: 40px;
  line-height: calc(49 / 40);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.23;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: calc(39 / 32);
    margin-bottom: 24px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.22;
    }
  }
}

.feedback__slides {
  width: 100%;
  min-width: 1024px;
  max-width: 1266px;
  min-height: 487px;
  // height: 100%;
  margin-left: auto;
  margin-right: 0;
  position: relative;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    min-width: 708px;
    max-width: 963px;
    min-height: 632px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-width: 288px;
    max-width: 288px;
    margin: 0 auto;
    min-height: 487px;
  }
}

.feedback__slide {
  width: 100%;
  min-width: 1024px;
  max-width: 1366px;
  // height: inherit;
  padding-left: 31.9%;
  padding-right: 10px;
  padding-top: 40px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  @media (max-width: $tablet-width) {
    min-width: inherit;
    max-width: inherit;
    padding-left: 50%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-width: 288px;
    max-width: 288px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 378px;
  }
}

.feedback__slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 364px;
  height: 480px;
  background-image: url("../img/feedback-person@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/feedback-person@2x.png");
  }

  @media (max-width: $mobile-width) {
    top: 0;
    left: 25px;
    width: 240px;
    height: 320px;
    background-image: url("../img/feedback-person-mobile@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/feedback-person-mobile@2x.jpg");
    }
  }
}

.feedback__slide h3 {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(36 / 24);
  color: rgba($text, 0.74);
  margin-bottom: 12px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.5;
  }
}

.feedback__item {
  display: flex;
  max-width: 680px;
  margin-bottom: 32px;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-bottom: 25px;
  }
}

.feedback__item span {
  color: $accent-decor-3;
  margin-right: 5px;

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.feedback__item p {
  line-height: calc(21 / 15);
  color: rgba($text, 0.74);
  margin: 0;
  margin-top: -5px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.4;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: calc(22 / 14);

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.57;
    }
  }
}

.feedback__slide > p {
  font-size: 17px;
  line-height: calc(29 / 17);
  color: rgba($text, 0.74);
  max-width: 680px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.71;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: calc(26 / 16);
    width: 288px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.63;
    }
  }
}

.feedback__detail {
  font-size: 17px;
  line-height: calc(25 / 17);
  color: $accent-decor-3;
  text-decoration: underline;
  display: block;
  margin-bottom: 57px;
  width: 150px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.47;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: calc(24 / 16);
    margin-top: 25px;
    margin-bottom: 22px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.5;
    }
  }
}

.feedback__detail:hover,
.feedback__detail:focus {
  color: $accent-decor-1;
}

.feedback__detail:active {
  opacity: 0.5;
}

.feedback__control {
  position: absolute;
  width: 120px;
  height: 25px;
  left: 31.2%;
  bottom: 7px;
  display: flex;


  @media (max-width: $mobile-width) {
    position: absolute;
    top: 330px;
    left: calc(50% - 50px);
    width: 100px;
    height: 26px;
  }
}

.feedback__counter {
  width: 50px;
  height: inherit;
  display: flex;
  justify-content: space-between;
}

.feedback__number,
.feedback__total {
  width: 22px;
  height: 100%;
  line-height: 25px;
  text-align: center;
}

.feedback__arrow {
  width: 70px;
  line-height: 25px;
  padding-right: 17px;
  padding-left: 18px;

  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    padding-right: 3px;
  }
}

.feedback__arrow-prev:hover,
.feedback__arrow-prev:focus,
.feedback__arrow-next:hover,
.feedback__arrow-next:focus {
  color: $accent-decor-1;
}

.feedback__arrow-prev:active,
.feedback__arrow-next:active {
  opacity: 0.5;
}

.feedback__social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 173px;

  @media (max-width: $mobile-width) {
    justify-content: flex-start;
    margin-right: 0;
    margin-left: -5px;
  }
}

.feedback__social li {
  margin-left: 16px;

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-right: 15px;
  }
}

.feedback__social-a {
  color: rgba($black, 0.16);
}

.feedback__social-a:hover,
.feedback__social-a:focus {
  color: $accent-decor-1;
}

.feedback__social-a:active {
  color: rgba($accent-decor-1, 0.5);
}

.feedback__social-a svg {
  fill: currentColor;
}
