.intention {
  width: 100%;
  min-width: 1024px;
  max-width: 1366px;
  margin: 0 auto;
  min-height: 596px;
  padding-top: 212px;
  margin-bottom: 112px;

  background-image: url("../img/flag-bg-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: right;

  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/flag-bg-desktop@2x.jpg");
    background-size: contain;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: 768px;
    max-width: 1023px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: none;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 320px;
    min-height: 655px;
    padding-top: 55px;
    margin-bottom: 50px;
    padding-left: 0;
    padding-right: 0;

    background-image: url("../img/flag-bg-mobile@1x.jpg");
    background-size: 320px 308px;
    background-position: bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/flag-bg-mobile@2x.jpg");
      background-size: 320px 308px;
    }
  }
}

.intention::before {
  content: "";
  position: absolute;
  top: 138px;
  left: 0;
  width: 167px;
  height: 250px;
  background-image: url("../img/backpack.jpg");
  background-repeat: no-repeat;
  background-size: 147px 260px;
  z-index: -1;

  @media (max-width: $mobile-width) {
    width: 120px;
    height: 180px;
    background-size: 102px 192px;
    top: 5px;
  }
}

.intention__wrap {
  width: 945px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-left: 4.8%;
    padding-right: 4.6%;
    margin: 0 auto;

    display: block;
  }
}

.intention__wrap h2 {
  @include title;
  font-size: 40px;
  line-height: calc(49 / 40);
  text-transform: uppercase;
  margin-bottom: 24px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.23;
  }

  @media (max-width: $mobile-width) {
    text-align: center;
    font-size: 32px;
    line-height: calc(39 / 32);

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.22;
    }
  }
}

.intention__wrap p {
  margin: 0;
  width: 400px;
  font-size: 17px;
  line-height: calc(29 / 17);
  color: rgba($text, 0.87);
  margin-bottom: 64px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.71;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    font-size: 16px;
    line-height: calc(26 / 16);
    margin-bottom: 24px;
  }
}

.intention__form {
  width: 477px;
  height: 59px;
  position: relative;

  @media (max-width: $mobile-width) {
    width: 100%;
    height: auto;
  }
}

.intention__form label {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: none;
  }
}

.intention__form input {
  width: 477px;
  height: 59px;
  padding: 19px;
  padding-left: 38px;
  padding-right: 256px;

  @include input;

  @media (max-width: $mobile-width) {
    @include blockToCenter;
    width: 287px;
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 8px;
  }
}

.intention__form input:focus {
  border: 2px solid $accent-decor-1;
}

.intention__form input:invalid:not(:placeholder-shown) {
  border: 2px solid $error;
}

.intention__form input:valid:not(:placeholder-shown) {
  border: 2px solid $text;
}

.intention__form button {
  @include button;
  width: 216px;
  height: 59px;

  position: absolute;
  top: 0;
  right: 0;

  @media (max-width: $mobile-width) {
    width: 264px;
    position: static;
    margin: 0 auto;
  }
}
