.pastime {
  width: 100%;
  min-width: 1020px;
  max-width: 1366px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 90px;

  background-image: url("../img/watercolor-bg-pastime-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: left 0 top -40px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/watercolor-bg-pastime-desktop@2x.png");
    background-size: contain;
  }

  @media (max-width: $tablet-width) {
    min-width: 320px;
    max-width: 600px;
    background-image: none;
    padding-bottom: 0;
    margin-bottom: 82px;
    height: 100%;
  }
}

.pastime__wrap {
  width: 100%;
  min-width: 1000px;
  max-width: 1152px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: auto;
    min-width: auto;
    max-width: auto;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    min-width: 288px;
    max-width: 288px;
    margin: 0 auto;
  }
}

.pastime__wrap h2 {
  @include title;
  font-size: 40px;
  line-height: calc(49 / 40);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 22px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.23;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: calc(39 / 32);

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.22;
    }
  }
}

.pastime__wrap p {
  font-size: 17px;
  line-height: calc(29 / 17);
  text-align: center;
  width: 720px;

  @include blockToCenter;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.71;
  }

  @media (max-width: $tablet-width) {
    width: inherit;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: left;
    width: auto;
    margin-bottom: 24px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.66;
    }
  }
}

.pastime__inner p {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 21px;
  line-height: calc(25 / 21);
  letter-spacing: -0.3px;
  color: $white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  text-align: left;

  display: flex;

  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: 0;

  width: auto;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: calc(21 / 18);
    text-align: center;

    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0;
    margin-left: auto;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      line-height: 1.31;
    }
  }
}

.pastime__inner {
  width: 100%;
  min-width: 1000px;
  max-width: 1152px;
  display: grid;
  grid-template-columns: minmax(230px, 230px) minmax(158px, 211px) minmax(150px, 211px) minmax(100px, 211px) minmax(150px, 211px);
  grid-template-rows: minmax(278px, 385px) minmax(244px, 340px);
  gap: 1.8rem;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: block;
  }

  margin-top: -20px;

  @media (max-width: $tablet-width) {
    width: auto;
    min-width: auto;
    max-width: auto;
    display: flex;
    margin-top: 0;

    margin-bottom: 16px;
    position: relative;
  }
}

.pastime__inner--slider {
  @media (max-width: $tablet-width) {
    height: 400px;
    overflow: hidden;
  }
}

.pastime__item {
  @media (max-width: $tablet-width) {
    width: 288px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 16px;
    object-fit: cover;

    display: none;
    flex-shrink: 0;
  }
}

.pastime__item--active {
  @media (max-width: $tablet-width) {
    display: flex;
  }
}

.pastime__item--history {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 3;
  grid-row-end: 3;

  background-image: url("../img/history-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: contain;

  padding-left: 38px;
  padding-top: 138%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/history-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-top: 0;
    background-image: url("../img/history-mobile@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/history-mobile@2x.jpg");
    }
  }
}

.pastime__item--history p {
  max-width: 320px;

  @media (max-width: $tablet-width) {
    width: auto;
  }
}

.pastime__item--language {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;

  margin-top: 65px;

  background-image: url("../img/language-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: contain;

  padding-left: 22px;
  padding-top: 113%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/language-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    margin-top: 0;
    padding-top: 0;
    background-image: url("../img/language-mobile@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/language-mobile@2x.jpg");
    }
  }
}

.pastime__item--language p {
  max-width: 120px;

  @media (max-width: $tablet-width) {
    width: auto;
  }
}

.pastime__item--profession {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-column-end: 6;
  grid-row-end: 1;

  margin-top: 65px;

  background-image: url("../img/profession-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: contain;

  padding-left: 31px;
  padding-top: 58%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/profession-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    margin-top: 0;
    padding-left: 0;
    background-image: url("../img/profession-mobile@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/profession-mobile@2x.jpg");
    }
  }
}

.pastime__item--profession p {
  max-width: 320px;
  letter-spacing: -0.1px;

  @media (max-width: $tablet-width) {
    width: auto;
  }
}

.pastime__item--creativity {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-column-end: 5;
  grid-row-end: 3;

  background-image: url("../img/creativity-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: contain;

  padding-left: 31px;
  padding-top: 57%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/creativity-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/creativity-mobile@1x.jpg");
    background-size: cover;
    padding-top: 0;
    padding-left: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/creativity-mobile@2x.jpg");
    }
  }
}

.pastime__item--creativity p {
  max-width: 360px;
  letter-spacing: -0.15px;

  @media (max-width: $tablet-width) {
    width: auto;
  }
}

.pastime__item--lead {
  grid-column-start: 5;
  grid-row-start: 2;
  grid-column-end: 6;
  grid-row-end: 3;

  background-image: url("../img/lead-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: contain;

  padding-left: 19px;
  padding-top: 112%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/lead-desktop@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/lead-mobile@1x.jpg");
    background-size: cover;
    padding-top: 0;
    padding-left: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/lead-mobile@2x.jpg");
    }
  }
}

.pastime__item > p {
  @media (max-width: $tablet-width) {
    width: 230px;
    margin-bottom: 25px;
  }
}

.pastime__controller {
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
    width: 70px;
    margin: 0 auto;
  }
}

.pastime__dot {
  @media (max-width: $tablet-width) {
    width: 10px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba($text, 0.5);
  }
}

.pastime__dot:not(:last-child) {
  @media (max-width: $tablet-width) {
    margin-right: 8px;
  }
}

.pastime__dot--activ {
  background-color: $accent-decor-1;
}
