.programs {
  width: 100%;
  min-width: 1024px;
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 107px;
  padding-bottom: 10px;


  background-image: url("../img/sketch-bg-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: right;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/sketch-bg-desktop@2x.jpg");
    background-size: contain;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    max-width: 767px;
    padding-top: 0;

    background-image: url("../img/sketch-bg-mobile@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/sketch-bg-mobile@2x.jpg");
      background-size: contain;
    }
  }
}

.programs__wrap {
  width: 945px;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    width: 100%;
    min-width: 320px;
    max-width: 767px;
    flex-direction: column;
  }
}

.programs h2 {
  @include title;
  font-size: 40px;
  line-height: calc(49 / 40);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 65px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.22;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: calc(39 / 32);
    text-align: center;
    margin-bottom: 16px;
  }
}

.programs__inner {
  display: flex;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.programs__tab {
  width: 230px;
  margin-right: 30px;

  @media (max-width: $mobile-width) {
    width: auto;
    margin-right: 0;
    margin-left: -42px;
    display: flex;
    margin-bottom: 28px;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    width: auto;
  }
}

.programs__button {
  line-height: calc(18 / 15);
  border: none;
  background-color: transparent;
  opacity: 0.87;
  letter-spacing: 0.8px;

  text-align: left;

  width: 228px;
  height: 68px;
  margin-bottom: 4px;
  padding-left: 72px;

  position: relative;
  cursor: pointer;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.2;
  }

  @media (max-width: $mobile-width) {
    color: rgba($text, 0.4);
    letter-spacing: 1px;

    width: 187px;
    height: 48px;

    padding-left: 52px;
    margin-right: 4px;
  }
}

.programs__button:hover {
  background-image: $gradient;
  background-size: 100%;
  background-clip: text;
  // -webkit-background-clip: text;
  // -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background-image: none;
    color: $accent-decor;
  }
}


.programs__button--general::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 18px;
  width: 36px;
  height: 36px;
  background-image: url("../img/black-general.svg");
  background-repeat: no-repeat;
}

.programs__button--general:hover::before {
  left: 24px;
  top: 20px;
  background-image: url("../img/yellow-general.svg");
}

.programs__button--academic::before {
  content: "";
  position: absolute;
  left: 18px;
  top: 18px;
  width: 36px;
  height: 36px;
  background-image: url("../img/black-academic.svg");
  background-repeat: no-repeat;
}

.programs__button--academic:hover::before {
  background-image: url("../img/yellow-academic.svg");
}

.programs__button--internships::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 17px;
  width: 36px;
  height: 36px;
  background-image: url("../img/black-internships.svg");
  background-repeat: no-repeat;
}

.programs__button--internships:hover::before {
  left: 22px;
  top: 22px;
  background-image: url("../img/yellow-internships.svg");
}

.programs__button--volunteerism::before {
  content: "";
  position: absolute;
  left: 19px;
  top: 18px;
  width: 36px;
  height: 36px;
  background-image: url("../img/black-volunteerism.svg");
  background-repeat: no-repeat;
}

.programs__button--volunteerism:hover::before {
  left: 21px;
  top: 21px;
  background-image: url("../img/yellow-volunteerism.svg");
}

.programs__button--religious::before {
  content: "";
  position: absolute;
  left: 25px;
  top: 22px;
  width: 36px;
  height: 36px;
  background-image: url("../img/black-religious.svg");
  background-repeat: no-repeat;
}

.programs__button--religious:hover::before {
  background-image: url("../img/yellow-religious.svg");
}

//-------------- наполнение таба ---------------
.programs__box {
  width: 100vw;
  padding-top: 18px;

  @media (max-width: $mobile-width) {
    padding-top: 0;
  }
}

.programs__item {
  display: none;
  padding-left: 4.6%;
  padding-right: 4.6%;
}

.programs__item.active {
  display: block;
}

.programs__item h3 {
  @include title;
  font-size: 28px;
  line-height: calc(34 / 28);
  margin: 0;
  margin-bottom: 24px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.21;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: calc(29 / 24);
    margin-bottom: 15px;
  }
}

.programs__item p {
  width: 550px;

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: calc(22 / 14);
    width: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

//-------------- активное состояние таба ---------------
.select {
  font-weight: 600;
  font-size: 13px;
  line-height: calc(19 / 16);
  text-transform: uppercase;
  width: 228px;
  height: 68px;
  position: relative;
  color: white;

  background-image: url("../img/rectangle.png");
  background-repeat: no-repeat;
  background-size: 228px auto;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    line-height: 1.19;
  }

  @media (max-width: $mobile-width) {
    font-weight: 500;
    width: auto;
    height: 48px;
    border-radius: 40px;
    border: none;
  }
}


// .select::before,
// .select::after {
//   content: "";
//   position: absolute;
//   color: currentColor;
//   right: 0;
//   border-left: 30px solid transparent;

//   @media (max-width: $mobile-width) {
//     display: none;
//   }
// }

// .select::before {
//   border-bottom: 35px solid currentColor;
//   bottom: 0;

//   @media (max-width: $mobile-width) {
//     display: none;
//   }
// }

// .select::after {
//   top: 0;
//   border-top: 35px solid currentColor;

//   @media (max-width: $mobile-width) {
//     display: none;
//   }
// }
