@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin text-reset {
  margin: 0;
}

@mixin button-close {
  &::before {
    position: absolute;
    top: 0;
    right: 10px;
    content: "";
    height: 22px;
    width: 2px;
    background: $gradient;
    transform: rotate(45deg);

    @media (max-width: $mobile-width) {
      top: -10px;
      right: 0;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: 10px;
    content: "";
    height: 22px;
    width: 2px;
    background: $gradient;
    transform: rotate(-45deg);

    @media (max-width: $mobile-width) {
      top: -10px;
      right: 0;
    }
  }
}
